*{
    margin:0;
    padding:0;
}
.textCenter{
    text-align: center;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration: none;
}
.inlineBlock{
    display:inline-block;
}
/*.content{*/
    /*!*background: url("../image/01.png") center center no-repeat;*!*/
    /*!*background-size: cover;*!*/
    /*background:#fff;*/
    /*height:100%;*/
    /*width:100%;*/
    /*padding:71px 0px 0px 185px;*/
    /*text-align: center;*/
/*}*/