/*主体*/
@media only screen and (min-width: 768px){
    .content-wrapper > h3, .content-wrapper > .content-heading {
        margin: -20px;
        margin-bottom: 20px;
        padding: 20px;
    }}
h3 {
    font-size: 24px;
    line-height: 1.1;
    color: #929292;
    margin: -15px;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: normal;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2;
}
.content-header > h3 > small {
    display: block;
    font-size: 12px;
    color: #909fa7
}
.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #ecf0f5;
    margin-left:220px;
}
.content-header {
    position: relative;
    padding: 90px 0px 2px 20px;
}

.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 1px;
    right: 10px;
    border-radius: 2px;
    list-style: none;
}
.content-wrapper .content-header .breadcrumb>li>a {
    color: #595959;
    font-size: 12px;
}

.content-wrapper .content-header .breadcrumb a:hover, a.nav-current {
    background-color: #ecf0f5;
    color: #595959;
}
.content {
    padding: 0 10px 0 10px;
    border-radius: 2px;
}
.content-header2 .list-inline>li>a {
    color: #8aa4af;
    font-size: 14px;
}
.panel.panel-default {
    border-top-width: 3px;
}
.panel .panel-heading {
    border-bottom: 0;
    font-size: 14px;
}
.panel-body {
    padding:15px;
    width:100%;
}

.table > thead > tr > th {
    padding: 14px 8px;
    color: #888;
}
.table > thead > tr > th {
    border-bottom-width: 1px;
}
.box-header .list-inline {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 10px;
    line-height: 1;
}
.box> .row > div {
    float: none;
    text-align: center;
    width: 100%;
}
.label {
    margin-bottom: 5px;
    font-weight: bold;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.dropdown-item {
    font-size: 14px;
}
/*表格*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table-responsive .table>tbody>tr>td>a {
    font-size: 14px;
}
.search-date>li {
    list-style: none;
}
.footer .pagination>li>a {
    font-size: 14px;
}
#ul li{
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    list-style: none;
    float:left;
    padding:6px;
    font-size:10px;
    border:1px solid #ccc;
    margin:2px;
    cursor:pointer;
    color:#585858;
}
.seachpage>li>a {
    font-size: 14px;
}
.seachpage li {
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    list-style: none;
    float:left;
    padding:6px;
    font-size:10px;
    border:1px solid #ccc;
    margin:2px;
    cursor:pointer;
    color:#585858;
}
#div{
    width:100%;
    text-align: center;
    bottom:30px;
}
.page {
    width: 40px;
}
#ul .background{
    background:#39C6F4;
    color:white;
    border:1px solid #39C6F4;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.scoller {
    overflow: visible;
}
/*按钮样式，复选框样式*/
/*两个操作删除与添加*/
.operate {
    float: right;
    line-height: 38px;
}
li {
    list-style: none
}
/*多选框删除*/
.fly-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #28b779;
    background-clip: padding-box;
    display: inline-block;
    cursor: pointer;
}
th>input[type=checkbox] {
    vertical-align: middle;
}
input[type=checkbox]:focus {
    outline: 0px auto -webkit-focus-ring-color;
}
.fly-checkbox:focus {
    outline: 0 none;
    outline-offset: 0;
}
.fly-checkbox:checked {
    background-color:#28b779;
    border: 0 solid #28b779;
}
.fly-checkbox:checked:before {
    position: absolute;
    display: inline-block;
    right: 47%;
    bottom: 39%;
    transform: translate(50%,50%);
    content: url(/image/green1.png);
    color: #fff;
}
/*删除按钮与添加按钮样式*/
.layui-btn {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #28b779;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;
    filter: alpha(opacity=90);
}
.layui-btn {
    margin-left: 10px;
}
.item input {
    height: 38px;
    line-height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    width: 328px;
    font-size: 14px;
    padding: 11px 10px;
    margin-right: 10px;
    color: #666;
    transition: .3s;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.form-control {
    padding:0;
}/*添加页面样式*/
table td {
    padding: 5px;
}
.layui-btn {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color:#28b779;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;
    filter: alpha(opacity=90);
    /*margin-left: 10%;*/
    margin-top: 15px;
}
.table-responsive {
    overflow-x: hidden;
}