html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
#outer-box {
    height: 100%;
    padding-right: 280px;
}
#container {
    height: 100%;
    width: 100%;
}
/*设置经纬度搜索框*/
.button-group {
    position: absolute;
    bottom: 9px;
    right: 120px;
    font-size: 12px;
    padding: 10px;
}
/*设置标签颜色*/
.title {
    width: 100%;
    background-color: #dadada
}
/*设置信息样式*/
.c {
    font-weight: 450;
    padding-left: 15px;
    padding-top: 4px;
}
/*设置空域详细信息输入框*/
#right {
    color: #444;
    background-color: #f8f8f8;
    width: 20%;
    /*display:none;*/
    position:absolute;
    top:10px;
    right:0px;
}
#right input {
    margin: 4px;
    margin-left: 15px;
}
#right select {
    margin: 4px;
    margin-left: 15px;
}
/*隐藏高德图标*/
.amap-logo {
    right: 0 !important;
    left: auto !important;
    display: none;
}
/*隐藏高德版权号*/
.amap-copyright {
    right: -200px !important;
    left: auto !important;
}