<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.demo.dao.FlightPlanDao">
    <resultMap id="FlightPlanInfo" type="cn.demo.model.FlightPlan">
        <result column="fp_id"  property="fpId"/>
        <result column="startDate" property="startDate"/>
        <result column="endDate" property="endDate"/>
        <result column="startPoint" property="startPoint"/>
        <result column="endPoint" property="endPoint"/>
        <result column="flightHeight" property="flightHeight"/>
        <result column="description" property="description"/>
        <result column="ApplyDate" property="applyDate"/>
        <result column="UavId" property="uavId"/>
    </resultMap>
    <!--按条件查询全部信息-->
    <select id="getAllByChoose" resultMap="FlightPlanInfo">
        select * from flightplan WHERE 1=1
        <if test="startDate!=null and endDate==null">
            and ApplyDate <![CDATA[>=]]> #{startDate}
        </if>
        <if test="startDate==null and endDate!=null">
            and ApplyDate <![CDATA[<=]]> #{endDate}
        </if>
        <if test="startDate!=null and endDate!=null">
            and ApplyDate between #{startDate} and #{endDate}
        </if>
        limit #{countNumber},#{pageSize}
    </select>
    <!--获取总记录数-->
    <select id="getCountByChoose" resultType="java.lang.Integer">
        select COUNT(fp_id) from flightplan WHERE 1=1
        <if test="startDate!=null and endDate==null">
            and ApplyDate <![CDATA[>=]]> #{startDate}
        </if>
        <if test="startDate==null and endDate!=null">
            and ApplyDate <![CDATA[<=]]> #{endDate}
        </if>
        <if test="startDate!=null and endDate!=null">
            and ApplyDate between #{startDate} and #{endDate}
        </if>
    </select>




</mapper>